@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 228 83% 9%; /* #040b28 */
    --foreground: 0 0% 100%;
 
    --card: 228 83% 9%;
    --card-foreground: 0 0% 100%;
 
    --popover: 228 83% 9%;
    --popover-foreground: 0 0% 100%;
 
    --primary: 0 0% 100%;
    --primary-foreground: 228 83% 9%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 0 0% 100%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 0 0% 100%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 30s linear infinite;
  }
}
